/* Fruit.css */

.App6-Box {
  background-color: #f39c12;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 20px;
  margin: 15px auto;
  text-align: center;
  border-radius: 12px;
  max-width: 300px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.App6-Box:hover {
  transform: scale(1.05);
  background-color: #e67e22;
  cursor: pointer;
}